@import "./fonts/index";
@import "./form";
@import "./animation";
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  font-family: 'Poppins', sans-serif;
  @media (max-height:700px) {
    font-size: 13px !important;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swipper-category{
  .swiper-button-next, .swiper-button-prev {
    top: 50%;
    transform: translateY(-48%);
    &::after{
      @apply text-white;
      font-size:30px !important;    
    }
  }
}

.upload-file-drop-zone {
  @apply rounded-md border-2 border-dashed bg-gray-50 hover:border-primary cursor-pointer bg-cover bg-no-repeat p-8;
}